:root {
  --base-width: 1024px;
  --padding-main: 0.25rem;

  --border-raidus-01: 0.5rem;
  --margin-01: 0.25rem;

  --text-color: #000;
  --background-color: #fff;
  --hightlight-color: #94d6f9;

  --warning-background-color: #ffcdcd;

  --header-text-color: #fff;
  --header-background-color: #ffa500;

  --editable-text-border: none;
  --editable-text-offset: 0;
  --editable-text-top-offset: 0;

  --trip-background-color: lightskyblue;
  --item-activity-background-color: aqua;

  --shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  --shadow-highlighted: 0 1px 4px rgb(60, 132, 215);
}

@media only screen and (min-width: 500px) {
  :root {
    --padding-main: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --background-color: #121212;
    --highlight-color: #fff;

    --warning-background-color: #ffcdcd;

    --header-text-color: #ddd;
    --header-background-color: #aa7928;

    --editable-text-border: 1px solid #fff;
    --editable-text-left-offset: -1px;
    --editable-text-top-offset: -1px;

    --trip-background-color: #3e7a96;
    --item-activity-background-color: #50528a;

    --shadow: 0 0 0 1px rgba(60, 60, 60, 0.222);
    --shadow-highlighted: 0 0 0 1px rgb(181, 208, 242);
  }
}
