:root {
  --base-width: 1024px;
  --padding-main: 0.25rem;

  --border-raidus-01: 0.5rem;
  --margin-01: 0.25rem;

  --text-color: #000;
  --background-color: #fff;

  --header-text-color: #fff;
  --header-background-color: #ffa500;

  --editable-text-border: none;
  --editable-text-offset: 0;
  --editable-text-top-offset: 0;
}

@media only screen and (min-width: 420px) {
  :root {
    --padding-main: 1rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --background-color: #121212;

    --header-text-color: #ddd;
    --header-background-color: #b27e1d;

    --editable-text-border: 1px solid #fff;
    --editable-text-left-offset: -1px;
    --editable-text-top-offset: -1px;
  }
} */
