:root {
  --base-width: 1024px;
  --padding-main: 0.25rem;

  --border-raidus-01: 0.5rem;
  --margin-01: 0.25rem;

  --text-color: #000;
  --background-color: #fff;

  --header-text-color: #fff;
  --header-background-color: #ffa500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --background-color: #000;

    --header-text-color: #ddd;
    --header-background-color: #b27e1d;
  }
}