.list-item-card {
  border-radius: var(--border-raidus-01);
  padding: 0;
  margin: 0;
  width: 15rem;
  height: 10rem;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
}

.list-item-card-img-container {
  width: 15rem;
  height: 8rem;
  overflow: hidden;
}

img.list-item-card-img {
  width: 100%;
  height: auto;
}
